* {
  margin: 0;
  font-family: sans-serif;
}
body {
  max-width: 1200px;
  margin: 0 auto;
  font-family: sans-serif;
  font-size: 0.875em;
  line-height: 1.6em;
  background-color: rgb(231, 228, 228);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-wrapper {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  grid-template-rows: repeat(4, 30%);
}
.intro {
  grid-column-start: 1;
  grid-column-end: 4;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 30% 70%;
}
header {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  height: 15em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.summary {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.preamble {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.supporting {
  grid-column-start: 1;
  display: grid;
  grid-template-columns: repeat(4, 75%);
}

.sidebar {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: 3;
}
footer{
    grid-column-start: 1;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}
@media screen and (max-width: 720px) {
  .page-wrapper {
    display: flex;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 40%);
    padding: 5em;
  }
  header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .preamble {
    grid-column-start: 1;

    grid-row-start: 2;
    grid-row-end: 3;
  }
  .summary {
    grid-column-start: 1;

    grid-row-start: 3;
    grid-row-end: 4;
  }
  .sidebar {
    grid-column-start: 1;
    grid-row-start: 8;
  }
  .explanation {
    grid-column-start: 1;
    grid-row-start: 4;
    grid-row-end: 5;
  }
  .participation {
    grid-column-start: 1;
    grid-row-start: 5;
    grid-row-end: 6;
  }
  .benefits {
    grid-column-start: 1;
    grid-row-start: 6;
    grid-row-end: 7;
  }
  .requirements {
    grid-column-start: 1;
    grid-row-start: 7;
    grid-row-end: 8;
  }
  .sidebar{
    grid-column-start: 1;
    grid-row-start: 8;
    grid-row-end: 9;
  }
  footer {
    grid-column-start: 1;
    grid-row-start: 9;
    grid-row-end: 10;
  }
}
